@import './google-cse.css';
@import './font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4FC3F7;
  --color-primary-hover: #42B4E7;
  --color-primary-active: #3A9FCC;
  --color-primary-bg-hover: #D6EEF3;
  --color-primary-bg-active: #B2DCE6;

  --color-accent: #FF7F50;
  --color-accent-bg-hover: #FFF1E6;
  --color-accent-bg-active: #FFE0B2;

  --color-warning: #B35C00;
  --color-warning-bg-hover: #FFF3E6;
  --color-warning-bg-active: #FFDDCC;

  --color-background: #FAFAF5;
  --color-white: #FFFFFF;
  --color-text-primary: #4A4A4A;

  --color-disabled: #CCCCCC;
  --color-disabled-bg: #F5F5F5;
}
